export VENV_PATH="/home/omarf/Project/remote_venv/UnknownSSD/IUT/IUT_7th_Sem/EEE_4710/github/Hands-on-Machine-Learning-with-Python/.venv"
export VIRTUAL_ENV="/home/omarf/Project/remote_venv/UnknownSSD/IUT/IUT_7th_Sem/EEE_4710/github/Hands-on-Machine-Learning-with-Python/.venv"
